.S-sidebar-1 {
  flex: 1 0;
  z-index: 1;
  background: $white;
  box-shadow: 0 5px 12px 3px rgba(150, 150, 150, 0.4);
  min-height: 100vh;
  h1 {
    padding: 2rem 0;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
  }
  .S-nom {
    padding: 1rem;
    h2 {
      margin: 0;
      color: white;
    }
    p {
      font-weight: bold;
      color: white
    }
  }
  .S-nav-Arkeron {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
    }
    a {
      display: block;
      padding: 1rem;
      border-bottom: 1px solid $fond;
    }
    a:hover,
    a:focus {
      background: $arkeron;
      opacity: 0.6;
      color: $white;
      outline: none;
    }
    a:active {
      background: $arkeron;
      opacity: 0.3;
      color: $white;
    }
  }
  .S-nav-Sebastien {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
    }
    a {
      display: block;
      padding: 1rem;
      border-bottom: 1px solid $fond;
    }
    a:hover,
    a:focus {
      background: $seb;
      opacity: 0.6;
      color: $white;
      outline: none;
    }
    a:active {
      background: $seb;
      opacity: 0.3;
      color: $white;
    }
  }
}