// Theme Information
//--------------------------------------------//
$theme_name: "Portfolio";
$theme_uri: "#";
$theme_description: "Portfolio de Sebastien Huertas";
$theme_version: "1.0";
$theme_author: "Sebastien Huertas";
$theme_author_uri: "#";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";