@media all and (max-width: 799px) {
  .P-H-header{
    display: block;
  }
  .S-sidebar {
    display: none;
  }
  
  .C-search {
    input {
      width: 100%;
    }
    select {
      width: 100%;
    }
  }
  .C-card {
    width: 100%;
  }
}